.green{
    
    background-color: green;
    width: 1000px;
    height: 250px;
    border: 2px solid black;
}
.blue{
    position: absolute;
    background-color: blue;
    width: 900px;
    height: 150px;
    border: 2px solid black;
    top: 50px;
    left: 50px;
}
.orange{
    position: absolute;
    background-color: orange;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    left: 400px;
    top: 300px;
}