body{
    margin: 10px;
   
  
}
.ciel{
    
    width: 750px;
    height: 750px;
    background-color: cornflowerblue;
}
.green{
    position: relative;
    background-color: green;
    width: 300px;
    height: 300px;
    left: 40px;
    border: 2px solid black;
    top: 30px;
    box-sizing: border-box;
   
    
}
.blue{
    position: relative;
    background-color: blue;
    width: 300px;
    height: 300px;
    
    border: 2px solid black;
    left: 400px;
    top: -270px;
    box-sizing: border-box;
    
}
.orange{
    position: relative;
    background-color: orangered;
    width: 300px;
    height: 300px;
    left: 40px;
    border: 2px solid black;
    top: -250px;
    box-sizing: border-box;
} 
.yellow{
    position: relative;
    background-color: yellow;
    width: 300px;
    height: 300px;
   
    border: 2px solid black;
    top: -550px;
    left: 400px;
    box-sizing: border-box;
   
}